.header{
    padding: 20px 0;
    &__container{
        max-width: 1200px;
        margin: 0 auto;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__social{
        display: flex;
        gap: 15px;
    }
}