$grey:#F5F3F9;
$black:#000000;
$white: #FFFFFF;
$blue-light:#6FCFFB;
$red:#FD8D7B;
$color-vector:#181818;
$tooltip:#3B4040;
$purple:#9789F9;

$bebasNeue:'Bebas Neue', cursive;
$roboto:'Roboto', sans-serif;
