*{
    margin: 0;
    padding: 0;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #808080;

    &__item{
        background-color:	#a7fadc;
        list-style: none;
        border: 1px solid black;
        &:hover{
            background-color:#3bd69e; ;
        }
    }
    &__link{
        padding: 50px 0 50px 100px;
        text-decoration: none;
        font-size: 36px;
        font-weight: 700;
        color: black;
display: block;
        height: 100%;
    }
}