.projects {
    position: relative;
    margin-top: 100px;
    margin-bottom: 150px;
    @include phone-xs() {
       margin-top: 30px;
       margin-bottom: 50px;
     }
    &__container {
        @include container;
        @include phone-xs{
           max-width: 75%;
          
           }
      
    }

    &__h2 {
        @include title;
        text-align: center;
        margin-bottom: 90px;
        @include devider-black;
        @include desktop {
            margin-bottom: 40px;
        }
        @include phone{
            margin-bottom: 20px;
              }
    }

    &__wrapper {
        // position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 120px;
        @include phone{
            gap: 65px;
              }
    }

    &__fist,
    &__second {
        margin-top: 90px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        gap: 70px;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;

        @include desktop {
            gap: 50px;
        }

        @include tablet {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
        @include phone-xs() {
           gap: 25px;
            }
    }

    &__second {
        margin-top: 0;
        @include tablet {
           -webkit-box-orient: vertical;
           -webkit-box-direction: reverse;
               -ms-flex-direction: column-reverse;
                   flex-direction: column-reverse;
        }

    }

    &__images {
        width: 100%;
        height: auto;
  


        &::before {
            content: '';
            width: 585px;
            height: 470px;
            position: absolute;
            @include tablet {
                width: 450px;
                height: 370px;
            }
            @include phone{
                width: 100%;
                      }
                      @include phone-xs{
                        width:300px;
                        height: 250px;
                       }

        }

        .images {

            &__item {
                @include tablet {
                    width: 490px;
                    height: auto;
                }
                @include phone{
                 width: 100%;
                       }
                       @include phone-xs{
                        width: 90%;
                       }
                position: relative;

            }
        }

    }

    &__images--left {
        &::before {
            top: 215px;
            left: 0;
            background-color: $blue;

            @include desktop-xl {
                top: 296px;
            }
            @include tablet {
             top: 160px;
             left: 116px;
            }
            @include phone{
                top: 163px;
         left: 0%;   
                      }
                      @include phone-xs{
                        top: 165px;
                        left: 23%;   
                       }
          

        }
    }

    &__images--right {
        &::before {
            top: 870px;
            right: 0;
            background-color: $purple;

            @include desktop-xl {
                top: 965px;
            }
            @include tablet {
                top: 1121px;
                right: 143px;
             }
             @include phone{
                top: 1128px;
         right: 0%;   
                      }
                      @include phone-xs{
                        top: 835px;

                       }
        }
    }


    &__content {
        padding-top: 94px;
        padding-bottom: 26px;
        @include desktop {
          padding-top: 24px;
           }
    }

    &__subtitle {
        @include subtitle;
        @include phone-xs{
           font-size: 18px;
           }
    }

    &__title {
        @include title;
        margin-bottom: 19px;
    }

    &__description {
        @include description;
        margin-bottom: 40px;
        @include phone-xs{
            font-size: 16px;
            margin-bottom: 20px;
            }
    }

    &__button {
        @include btn;
        margin-bottom: 60px;
        @include phone-xs{
           margin-bottom: 30px;
            }
    }

    &__location {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 10px;

        .location {
            &__text {
                font-family: $openSans;
                font-style: italic;
                font-weight: 400;
                font-size: 15px;
                line-height: 20px;
                color: $black;
            }
        }
    }


}