*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F2F2F2;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
header{
    
    margin-bottom: 50px;
}
.header{
    display: flex;
    justify-content: space-between;
    gap: 142px;
}
img.logo{
    max-width: 200px;
    padding: 24px 0;
    
}
.menu{
    padding: 26px 0;
    /* margin: 0 198px; */
}
.menu li{
display: inline-block;
margin-right: 20px;
}
.menu li:last-child{
    margin-right: 0px;
}
.menu a{
    text-decoration: none;
    color: #2F281E;
}
.menu a:hover{
    color: #FF9900;
}
.in{
    background-color: #F2F2F2;;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    padding: 13px 25px;
    line-height: 20px;
    color: #2F281E;
    margin-right: 32px ;
}
.up{
    background-color: #FF9900;
    border-radius: 4px;
    padding: 13px 25px;
    border: unset;
}
.buttons{
    padding: 17px 0;
}
button:hover{
    color: #fff;
    background-color: #FF9900;
} 

.fist_screen div{
    display: inline-block;
}
div .fist_screen-content{
    height: 100%;
    width: 50%;
    max-width: 500px;
    margin-right: 56px;
    vertical-align: middle;
}
h1{
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
    margin-bottom: 30px;
}
.content_text{
   letter-spacing: 1px;
    line-height: 150%;
    font-size: 18px;
    color: #544837;
    margin-bottom: 20px;

    
}
.button{
    font-weight: 700;
    background: #FF9900;
    border-radius: 4px;
    padding: 13px 40px;
    color: #FFFFFF;
    border: unset;
}
.button:hover{
    color: #2F281E;
}
.fist_screen-img{
    width: 50%;
}
.features{
    background-image: url("../img/bg.png");
    background-position:center bottom;
    background-repeat: no-repeat;
    background-size:auto;
    margin-top: 99px;
    padding-bottom: 71px;
    
}
.h2{
    margin: 0 auto;
    text-align: center;
    max-width: 539px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #2F281E;
}
.h2 span{
    display: block;
}
.card{
    margin-top: 50px;
    display:flex;
    justify-content: space-between;
    column-gap: 45px;
}
.item{
    max-width: 270px;
    
}

.item img{
    max-width: 51px;
}
.item h3{
    margin-top:30px;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #2F281E;
}
.item p{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    min-height: 52px;
}
.button_features{
    margin-top: 70px;
    text-align: center;
}
hr{
   color:#BCD0E57F ;
   opacity: 0.1;
}
.footer{
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
    
}
.footer h4{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #2F281E;
    margin-bottom: 30px;
}

.footer_items li{
    margin-bottom: 15px;
}
.footer_items li:last-child{
    margin-bottom: 0px;
}
.footer_items a{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;

}
.footer_items a:hover{
    color: #FF9900;
}
.form{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    row-gap: 25px;
}
.form h4{
    margin-bottom: 0;
    max-width: 255px;

}
.form input{
    width: 340px;
    height: 50px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    padding: 0px 10px;
}
::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #BCD0E5;

}
.form button{
    margin-bottom: 0px;
}