.booknow{
    background-image: url(../img/render-14.png);
    background-position: center;
    background-repeat: no-repeat;
    
    @media screen and(min-width:1920px) {
        background-size: 100%;
         }

    &__container{
        @include container;
    }
    &__block{
        padding: 220px 0 120px 0;
       .block{
        @include booknow-block;
       }
       @media screen and(max-width:$tablet) {
            
        padding: 120px 0;
               }
    }
    &__wrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        @media screen and(max-width:$tablet) {
            
            -webkit-box-pack: center;
            
                -ms-flex-pack: center;
            
                    justify-content: center;
                   }
    }
}
.booknow--second{
    background-image: url(../img/spain-18.png);
    background-repeat: no-repeat;
    &__wrapper{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
    }
}
