.footer{
    background-color: $black;
    padding: 80px 0;

    &__container {
        @include container;
    }
    &__wrapper{
        text-align: center;
        @include flex-column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 20px;
    }
    &__text{
        @include flex-column;
        gap: 8px;
    }
    &__h3{
        @include logo-text;
    }
    &__subtext{
        @include body-text;
        color: $white;
    }
    &__social{
        max-width: 275px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 auto;
        gap:32px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    &__link{
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
    &__svg{
        fill:$white;
        -webkit-transition: fill 0.5s ease;
        -o-transition: fill 0.5s ease;
        transition: fill 0.5s ease;
        &:hover{
            fill: $accent;
        }
    }
}