*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
// .animate__animated .animate__fadeOutDown {
//     --animate-duration:1s;
//     animation: 0.5s infinite ease;
// }