.header {
    background-image: url(../img/HeaderBackground.webp);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    ;
    padding: 295px 0 120px 0;

    @media screen and(min-width:1920px) {
        background-size: 100%;
    }
   

    &__container {
        max-width: 647px;
        margin: 0 auto;

        @media screen and(max-width:$mobile) {
            max-width: 540px;
        }
    }

    &__title {
        margin-bottom: 48px;

    }

    &__h1 {
        margin-bottom: 8px;
        @include h1;
    }

    &__subtext {
        @include subtext;
    }

    &__input {
        border: unset;
        width: 94%;
        padding: 16px 0 16px 31px;


        &::-webkit-input-placeholder {
            @include body-text;
            color: $text-grey;
        }

        &::-moz-placeholder {
            @include body-text;
            color: $text-grey;
        }

        &:-ms-input-placeholder {
            @include body-text;
            color: $text-grey;
        }

        &::-ms-input-placeholder {
            @include body-text;
            color: $text-grey;
        }

        &::placeholder {
            @include body-text;
            color: $text-grey;
        }
    }

    &__search {
        width: 647px;
        margin-bottom: 211px;
        display: flex;
        background-color: $white;
        padding: 4px 5px;

        @media screen and(max-width:$tablet) {
            width: 94%;
            margin: 0 auto 211px auto;
        }

        @media screen and(max-width:498px) {
            display: flex;
            background: transparent;
            flex-direction: column;
            gap: 20px;
        }



    }


    &__svg-search {
        fill: $white;
    }

    &__button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 12px;
        padding: 16px 24px;
        @include btn;
        @include button-text;
        font-size: 14px;
        letter-spacing: 0.1em;

        &:hover {
            background-color: #2d4196;
        }

        @media screen and(max-width:498px) {
            max-width: 139px;
            margin: 0 auto;
        }




    }

    &__scrolldown {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        cursor: pointer;
        gap: 4px;

        &:hover {
            & .header__scroll-text {
                color: $accent;
            }

            & .header__scroll-link {
                fill: $accent;
            }
        }
    }


    &__scroll-text {
        @include body-text;
        color: $white;
        -webkit-transition: color 0.7s ease;
        -o-transition: color 0.7s ease;
        transition: color 0.7s ease;



    }

    &__scroll-link {
        text-decoration: none;
        fill: $white;
        -webkit-transition: fill 0.5s ease;
        -o-transition: fill 0.5s ease;
        transition: fill 0.5s ease;



    }
}