// font-family
$aleo:'Aleo', serif;
$Josefinsans:'Josefin Sans', sans-serif;

// colors
$accent:#5373FD;
$accent-darker:#486BFE;
$white:#FFFFFF;
$black:#000000;
$dark-grey:#333333;
$text-grey:#999999;
$red:#FF6363;
$blue: #00A2FF;

// size-screen
$desktop:1360px;
$desktop-small:1024px;
$tablet:768px;
$mobile:576px;

