* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* latin-ext */
@font-face {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/aleo/v11/c4mv1nF8G8_swAPJ0R9rkodF_Q.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/aleo/v11/c4mv1nF8G8_swA3J0R9rkoc.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3aZQNVED7rKGKxtqIqX5EUAnx4Vn8siqM7.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3aZQNVED7rKGKxtqIqX5EUA3x4Vn8siqM7.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3aZQNVED7rKGKxtqIqX5EUDXx4Vn8sig.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3aZQNVED7rKGKxtqIqX5EUAnx4Vn8siqM7.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3aZQNVED7rKGKxtqIqX5EUA3x4Vn8siqM7.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3aZQNVED7rKGKxtqIqX5EUDXx4Vn8sig.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3aZQNVED7rKGKxtqIqX5EUAnx4Vn8siqM7.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3aZQNVED7rKGKxtqIqX5EUA3x4Vn8siqM7.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3aZQNVED7rKGKxtqIqX5EUDXx4Vn8sig.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.header {
  background-image: url(../img/HeaderBackground.webp);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 295px 0 120px 0;
}
@media screen and (min-width: 1920px) {
  .header {
    background-size: 100%;
  }
}
.header__container {
  max-width: 647px;
  margin: 0 auto;
}
@media screen and (max-width: 576px) {
  .header__container {
    max-width: 540px;
  }
}
.header__title {
  margin-bottom: 48px;
}
.header__h1 {
  margin-bottom: 8px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header__subtext {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.31em;
  color: #FFFFFF;
}
.header__input {
  border: unset;
  width: 94%;
  padding: 16px 0 16px 31px;
}
.header__input::-moz-placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #999999;
}
.header__input:-ms-input-placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #999999;
}
.header__input::placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #999999;
}
.header__search {
  width: 647px;
  margin-bottom: 211px;
  display: flex;
  background-color: #FFFFFF;
  padding: 4px 5px;
}
@media screen and (max-width: 768px) {
  .header__search {
    width: 94%;
    margin: 0 auto 211px auto;
  }
}
@media screen and (max-width: 498px) {
  .header__search {
    display: flex;
    background: transparent;
    flex-direction: column;
    gap: 20px;
  }
}
.header__svg-search {
  fill: #FFFFFF;
}
.header__button {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px 24px;
  background-color: #5373FD;
  color: #FFFFFF;
  border: 1px solid transparent;
  transition: border 0.5s ease, color 0.3s ease, background-color 0.7s ease, box-shadow 1s linear;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 14px;
  letter-spacing: 0.1em;
}
.header__button:hover {
  background-color: #2d4196;
}
@media screen and (max-width: 498px) {
  .header__button {
    max-width: 139px;
    margin: 0 auto;
  }
}
.header__scrolldown {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  gap: 4px;
}
.header__scrolldown:hover .header__scroll-text {
  color: #5373FD;
}
.header__scrolldown:hover .header__scroll-link {
  fill: #5373FD;
}
.header__scroll-text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  transition: color 0.7s ease;
}
.header__scroll-link {
  text-decoration: none;
  fill: #FFFFFF;
  transition: fill 0.5s ease;
}

.navigation {
  background-color: #5373FD;
  padding: 28px 0;
  position: relative;
}
.navigation__container {
  max-width: 69%;
  margin: 0 auto;
}
@media screen and (max-width: 1360px) {
  .navigation__container {
    max-width: 83.9%;
  }
}
@media screen and (max-width: 1024px) {
  .navigation__container {
    max-width: 93.8%;
  }
}
.navigation__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 810px) {
  .navigation__wrapper {
    flex-direction: column;
    gap: 12px;
  }
}
@media screen and (max-width: 576px) {
  .navigation__wrapper {
    flex-direction: row;
    justify-content: center;
    gap: 146px;
  }
}
.navigation__logo {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.navigation__menu {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .navigation__menu {
    gap: 25px;
  }
}
@media screen and (max-width: 576px) {
  .navigation__menu {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 32px 0;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: #5373FD;
    transform: translateX(-100%);
    transition: opacity 0.3s linear;
  }
}
.navigation__burger {
  display: none;
  align-items: center;
  position: relative;
  width: 40px;
  height: 24px;
  background-color: transparent;
  border-top: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
}
@media screen and (max-width: 576px) {
  .navigation__burger {
    display: flex;
  }
}
.navigation__burger:before, .navigation__burger:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  transition: all 0.3s linear;
}
.navigation__burger:after {
  opacity: 0;
}
.navigation__burger-input {
  display: none;
}
.navigation__burger-input:checked ~ .navigation__burger-label .navigation__burger {
  border-color: transparent;
}
.navigation__burger-input:checked ~ .navigation__burger-label .navigation__burger:before {
  transform: rotate(45deg);
}
.navigation__burger-input:checked ~ .navigation__burger-label .navigation__burger:after {
  opacity: 1;
  transform: rotate(-45deg);
}
.navigation__burger-input:checked ~ .navigation__menu {
  opacity: 1;
  transform: translateX(0);
}
.navigation__burger-label {
  position: absolute;
  top: 30px;
  right: 17px;
}
.navigation__item {
  text-decoration: none;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.navigation__item:hover {
  text-decoration: underline;
}

.why {
  background-image: url(../img/WhyBackground.webp);
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 1920px) {
  .why {
    background-size: 100%;
  }
}
.why__container {
  max-width: 69%;
  margin: 0 auto;
}
@media screen and (max-width: 1360px) {
  .why__container {
    max-width: 83.9%;
  }
}
@media screen and (max-width: 1024px) {
  .why__container {
    max-width: 93.8%;
  }
}
.why__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 124px 112px 124px 0;
}
@media screen and (max-width: 1360px) {
  .why__wrapper {
    padding: 124px 0;
  }
}
@media screen and (max-width: 768px) {
  .why__wrapper {
    flex-direction: column-reverse;
    gap: 32px;
    padding: 60px 0;
  }
}
@media screen and (max-width: 576px) {
  .why__wrapper {
    gap: 37px;
  }
}
.why__content {
  max-width: 49%;
}
@media screen and (max-width: 1024px) {
  .why__content {
    max-width: 57%;
  }
}
@media screen and (max-width: 768px) {
  .why__content {
    max-width: 100%;
    text-align: center;
  }
}
.why__h2 {
  margin-bottom: 24px;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
  color: #FFFFFF;
}
@media screen and (max-width: 576px) {
  .why__h2 {
    margin-bottom: 19px;
  }
}
.why__subtext {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 32px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .why__subtext {
    margin-bottom: 24px;
  }
}
.why__button {
  background-color: #5373FD;
  color: #FFFFFF;
  border: 1px solid transparent;
  transition: border 0.5s ease, color 0.3s ease, background-color 0.7s ease, box-shadow 1s linear;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-image: url(../img/Rectangle\ 8.png);
  background-repeat: no-repeat;
  padding: 19px 31px;
  border: 1px solid transparent;
  transition: border 0.5s ease, color 0.3s ease, background-color 0.7s ease, box-shadow 1s linear;
}
.why__button:hover {
  background-color: #FFFFFF;
  color: #000000;
  box-shadow: 60px -15px #486BFE;
  border: 1px solid #5373FD;
}
.why__button:active {
  background-color: #2d4196;
  box-shadow: 10px 5px 5px #FFFFFF;
}
.why__picture {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (max-width: 1360px) {
  .why__picture {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  .why__picture {
    width: 100%;
    flex-direction: row;
  }
}
.why__image {
  display: flex;
  justify-content: space-between;
}
.why__image--right {
  flex-direction: row-reverse;
}
.why__img {
  max-width: 100%;
  text-align: left;
}
.why__img--right {
  max-width: 100%;
  text-align: right;
}

.steps {
  background-color: #333333;
  padding: 112px 0 60px 0;
  background-image: url(../img/Line.webp);
  background-repeat: no-repeat;
  background-position: center 60px;
  background-size: 47%;
}
@media screen and (max-width: 1360px) {
  .steps {
    padding: 127px 0 45px 0;
    background-image: url(../img/Line-728.webp);
    background-position: center 83px;
    background-size: 55%;
  }
}
@media screen and (max-width: 1024px) {
  .steps {
    background-image: url(../img/Line-632.webp);
    background-position: center 86px;
    background-size: 64%;
  }
}
@media screen and (max-width: 960px) {
  .steps {
    background-position: center 89px;
  }
}
@media screen and (max-width: 768px) {
  .steps {
    background-image: none;
    padding: 60px;
  }
}
.steps__container {
  max-width: 69%;
  margin: 0 auto;
}
@media screen and (max-width: 1360px) {
  .steps__container {
    max-width: 83.9%;
  }
}
@media screen and (max-width: 1024px) {
  .steps__container {
    max-width: 93.8%;
  }
}
.steps__wrapper {
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .steps__wrapper {
    flex-direction: column;
    gap: 60px;
  }
}
.steps__item {
  width: 32%;
  padding: 7px 0 0 0;
  flex-grow: 1;
  text-align: center;
}
@media screen and (max-width: 1360px) {
  .steps__item {
    width: 31.2%;
  }
}
@media screen and (max-width: 960px) {
  .steps__item {
    padding: 16px 0;
  }
}
@media screen and (max-width: 768px) {
  .steps__item {
    width: 100%;
  }
}
.steps__item--middle {
  padding-left: 5px;
}
.steps__text {
  margin-top: 20px;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.steps__svg--darker {
  fill: #486BFE;
}
.steps__svg--red {
  fill: #FF6363;
}
.steps__svg--blue {
  fill: #00A2FF;
}

.booknow {
  background-image: url(../img/render-14-_1_.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 1920px) {
  .booknow {
    background-size: 100%;
  }
}
.booknow__container {
  max-width: 69%;
  margin: 0 auto;
}
@media screen and (max-width: 1360px) {
  .booknow__container {
    max-width: 83.9%;
  }
}
@media screen and (max-width: 1024px) {
  .booknow__container {
    max-width: 93.8%;
  }
}
.booknow__block {
  padding: 220px 0 120px 0;
}
.booknow__block .block__spain {
  background: rgba(35, 35, 35, 0.9);
  padding: 44px 32px;
  max-width: 49%;
}
@media screen and (max-width: 1024px) {
  .booknow__block .block__spain {
    max-width: 57.2%;
  }
}
@media screen and (max-width: 768px) {
  .booknow__block .block__spain {
    max-width: 100%;
  }
}
.booknow__block .block__text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}
.booknow__block .block__subtext {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
.booknow__block .block__h5 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.booknow__block .block__description {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
.booknow__block .block__button {
  background-color: #5373FD;
  color: #FFFFFF;
  border: 1px solid transparent;
  transition: border 0.5s ease, color 0.3s ease, background-color 0.7s ease, box-shadow 1s linear;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 19px 55px;
  background-image: url(../img/Rectangle\ 8.png);
  background-repeat: no-repeat;
}
.booknow__block .block__button:hover {
  background-color: #FFFFFF;
  color: #000000;
  box-shadow: 60px -15px #486BFE;
  border: 1px solid #5373FD;
}
.booknow__block .block__button:active {
  background-color: #2d4196;
  background-image: none;
  box-shadow: 10px 5px 5px #FFFFFF;
}
@media screen and (max-width: 768px) {
  .booknow__block {
    padding: 120px 0;
  }
}
.booknow__wrapper {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .booknow__wrapper {
    justify-content: center;
  }
}

.booknow--second {
  background-image: url(../img/spain-18.webp);
  background-repeat: no-repeat;
}
.booknow--second__wrapper {
  flex-direction: row-reverse;
}

.review {
  background-image: url(../img/BG.webp);
  background-position: center;
  background-repeat: no-repeat;
  padding: 120px 0 180px 0;
}
@media screen and (min-width: 1920px) {
  .review {
    background-size: 100%;
  }
}
@media screen and (max-width: 768px) {
  .review {
    padding: 60px 0 120px 0;
  }
}
.review__container {
  max-width: 69%;
  margin: 0 auto;
}
@media screen and (max-width: 1360px) {
  .review__container {
    max-width: 83.9%;
  }
}
@media screen and (max-width: 1024px) {
  .review__container {
    max-width: 93.8%;
  }
}
.review__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.review__img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .review__img {
    width: 100%;
  }
}
.review__h2 {
  text-align: center;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.review__block {
  display: flex;
}
@media screen and (max-width: 768px) {
  .review__block {
    flex-direction: column;
  }
}
.review__text {
  background-color: #333333;
  padding: 48px 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.review__h5 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.review__svg-quote {
  fill: #5373FD;
  margin-right: 10px;
}
.review__description-text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.footer {
  background-color: #000000;
  padding: 80px 0;
}
.footer__container {
  max-width: 69%;
  margin: 0 auto;
}
@media screen and (max-width: 1360px) {
  .footer__container {
    max-width: 83.9%;
  }
}
@media screen and (max-width: 1024px) {
  .footer__container {
    max-width: 93.8%;
  }
}
.footer__wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.footer__text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer__subtext {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #FFFFFF;
}
.footer__social {
  max-width: 275px;
  display: flex;
  margin: 0 auto;
  gap: 32px;
  align-items: center;
}
.footer__link {
  display: inline-flex;
}
.footer__svg {
  fill: #FFFFFF;
  transition: fill 0.5s ease;
}
.footer__svg:hover {
  fill: #5373FD;
}/*# sourceMappingURL=style.css.map */