         // font-family
$roboto:'Roboto', sans-serif;
$opensans:'Open Sans', sans-serif;
$raleway:'Raleway', sans-serif;
        // colors
$subtext:#898F8F;
$gold:#FFCC00;  
$title:#666666;
$description:#333333;
$social:#CCCCCC;
