$black:#000000;
$white:#FFFFFF;
$grey900:#323232;
$grey700:#565656;
$grey500:#7B7B7B;
$grey300:#CCCCCC;
$grey100:#F4F4F4;
$errors:#E10000;

$lato:'Lato', sans-serif;
$redHatDisplay:'Red Hat Display', sans-serif;