$purple-dark:#392C72;
$purple-light:#9E8CFC;


$gray-dark:#4F4F4F;
$gray-middle:#828282;
$gray-light:#BDBDBD;
$white:#FFFFFF;

$red:#EA5455;
$yellow:#F2C94C;
$green:#6FCF97;
$blue-dark:#283046;
$blue-darken:#161D31;

$monserat:'Montserrat', sans-serif;
