.footer{
    padding: 203px 0 234px 0;
    background-image: url(../images/footer-bg.png), linear-gradient(251.06deg, #7E5AFF -2.19%, #55B7FF 103.21%);
    background-repeat: no-repeat;
    background-position: bottom;
    @include phone{
     padding-top: 290px;
      }
      @include phone-xs{
       padding-bottom: 100px;
    }

    &__container{
        @include footer-container;
        @include desktop{
           
            max-width: 730px;
        
    }
        @include phone-xl{
            max-width: 670px;
        }
        @include phone{
          max-width: 450px;
        }
    
    }
    &__box{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @include phone{
            flex-direction: column;
            align-items: center;
            gap: 20px;
             }

    }
    &__content{
        display: flex;
        flex-direction: column;
        gap: 41px;
        @include phone-xl{
           gap: 21px;
        }
    }
    &__copyright{
        font-family:$monserat;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $white;
        @include phone{
           margin-left: 17px;
             }
    }
}
