// font-family
$monserat: 'Montserrat', sans-serif;
$openSans: 'Open Sans', sans-serif;
$sourceSans: 'Source Sans Pro', sans-serif;

// colors
$white:#FFFFFF;
$black:#000000;

$main: #2C4058;
$border:#4B5562;

$blue:#55B7FF;
$purple:#7E5AFF;




