* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@-webkit-keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@-webkit-keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.fist-screen {
  overflow: hidden;
  position: relative;
  background: center/cover no-repeat url(../images/Mask\ Group.png), linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
}
.fist-screen__container {
  margin: 0 auto;
  max-width: 1170px;
}
@media only screen and (max-width: 1400px) {
  .fist-screen__container {
    max-width: 1010px;
  }
}
@media only screen and (max-width: 1050px) {
  .fist-screen__container {
    max-width: 830px;
  }
}
@media only screen and (max-width: 1050px) {
  .fist-screen__container {
    max-width: 520px;
  }
}
@media only screen and (max-width: 1400px) {
  .fist-screen__container {
    max-width: 1050px;
  }
}
@media only screen and (max-width: 1200px) {
  .fist-screen__container {
    max-width: 1000px;
  }
}
@media only screen and (max-width: 680px) {
  .fist-screen__container {
    max-width: 90%;
  }
}
@media only screen and (max-width: 506px) {
  .fist-screen__container {
    max-width: 95%;
  }
}
.fist-screen__slider {
  padding-top: 223px;
  padding-bottom: 150px;
}
@media only screen and (max-width: 1050px) {
  .fist-screen__slider {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
@media only screen and (max-width: 680px) {
  .fist-screen__slider {
    padding-top: 110px;
    padding-bottom: 100px;
  }
}
.fist-screen__slider .slider__block {
  position: relative;
  width: 100%;
}
.fist-screen__h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 98px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1400px) {
  .fist-screen__h1 {
    font-size: 64px;
  }
}
@media only screen and (max-width: 1050px) {
  .fist-screen__h1 {
    font-size: 42px;
  }
}
@media only screen and (max-width: 680px) {
  .fist-screen__h1 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 506px) {
  .fist-screen__h1 {
    font-size: 26px;
    margin-bottom: 5px;
  }
}
.fist-screen__subtext {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.3em;
  color: #FFFFFF;
  text-align: center;
}
@media only screen and (max-width: 680px) {
  .fist-screen__subtext {
    font-size: 14px;
  }
}
@media only screen and (max-width: 506px) {
  .fist-screen__subtext {
    font-size: 12px;
  }
}
.fist-screen__scroll {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.fist-screen__arrow {
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  transition: border 1s linear, fill 0.5s ease, background-color 1s linear;
}
@media only screen and (max-width: 680px) {
  .fist-screen__arrow {
    display: none;
  }
}
.fist-screen__arrow-svg {
  -webkit-animation: animate_fading 1.5s infinite;
          animation: animate_fading 1.5s infinite;
}
@-webkit-keyframes animate_fading {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.1;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animate_fading {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.1;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.fist-screen .slick-prev,
.fist-screen .slick-next,
.fist-screen .slick-next::before,
.fist-screen .slick-prev::before {
  display: none;
}
.fist-screen .slick-dots li button::before,
.fist-screen .slick-dots li.slick-active button::before {
  opacity: 0;
}
.fist-screen .slick-dots {
  position: absolute;
  cursor: pointer;
  width: auto;
  top: 10%;
  right: 17px;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 1050px) {
  .fist-screen .slick-dots {
    visibility: hidden;
  }
}

.burger-menu {
  cursor: pointer;
  height: 27px;
  width: 27px;
  margin: 50px;
  overflow: visible;
  position: relative;
  z-index: 2;
}
@media only screen and (min-width: 1051px) {
  .burger-menu {
    display: none;
  }
}
@media only screen and (max-width: 680px) {
  .burger-menu {
    margin: 10px;
  }
}
.burger-menu span,
.burger-menu span:before,
.burger-menu span:after {
  background: #fff;
  display: block;
  height: 2px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}
.burger-menu span:before,
.burger-menu span:after {
  content: "";
}
.burger-menu span:before {
  left: 0px;
  top: -10px;
  width: 27px;
}
.burger-menu span {
  right: 0px;
  top: 13px;
  width: 27px;
}
.burger-menu span:after {
  left: 0px;
  top: 10px;
  width: 27px;
}
.burger-menu.close span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
}
.burger-menu.close span {
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}
.burger-menu.close span:after {
  top: 0px;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
}

.header {
  position: relative;
}
.header__wrapper {
  padding-top: 53px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 506px) {
  .header__wrapper {
    padding-top: 0;
  }
}
@media only screen and (max-width: 810px) {
  .header__social.social {
    display: none;
  }
}
.header__nav {
  display: flex;
  gap: 70px;
}
@media only screen and (max-width: 1050px) {
  .header__nav {
    visibility: hidden;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding-top: 20px;
    transition: opacity 0.7s linear;
  }
  .header__nav.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: visible;
    opacity: 1;
    padding-top: 250px;
    background: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
  }
}
.header__nav .nav__link {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}
@media only screen and (max-width: 1050px) {
  .header__nav .nav__link {
    font-size: 18px;
  }
}
.header__nav .nav__link::before {
  content: "";
  width: 9px;
  height: 9px;
  margin-right: 15px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  transition: background-color 0.5s ease;
}
@media only screen and (max-width: 1050px) {
  .header__nav .nav__link::before {
    opacity: 0;
  }
}
.header__nav .nav__link:active::before {
  background-color: #FFFFFF;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.social__item {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  transition: border 1s linear, fill 0.5s ease, background-color 1s linear;
}
.social__item:hover {
  background-color: #FFFFFF;
  border: 1px solid #7E5AFF;
}
.social__item:hover .social__icon {
  fill: #7E5AFF;
}
.social__icon {
  fill: #FFFFFF;
}

.projects {
  position: relative;
  margin-top: 100px;
  margin-bottom: 150px;
}
@media only screen and (max-width: 506px) {
  .projects {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
.projects__container {
  margin: 0 auto;
  max-width: 1170px;
}
@media only screen and (max-width: 1400px) {
  .projects__container {
    max-width: 1010px;
  }
}
@media only screen and (max-width: 1050px) {
  .projects__container {
    max-width: 830px;
  }
}
@media only screen and (max-width: 1050px) {
  .projects__container {
    max-width: 520px;
  }
}
@media only screen and (max-width: 506px) {
  .projects__container {
    max-width: 75%;
  }
}
.projects__h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-transform: uppercase;
  color: #2C4058;
  text-align: center;
  margin-bottom: 90px;
}
@media only screen and (max-width: 506px) {
  .projects__h2 {
    font-size: 26px;
  }
}
.projects__h2:before {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background-color: #2C4058;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1200px) {
  .projects__h2 {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 680px) {
  .projects__h2 {
    margin-bottom: 20px;
  }
}
.projects__wrapper {
  display: flex;
  flex-direction: column;
  gap: 120px;
}
@media only screen and (max-width: 680px) {
  .projects__wrapper {
    gap: 65px;
  }
}
.projects__fist, .projects__second {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  gap: 70px;
  align-items: flex-end;
}
@media only screen and (max-width: 1200px) {
  .projects__fist, .projects__second {
    gap: 50px;
  }
}
@media only screen and (max-width: 1050px) {
  .projects__fist, .projects__second {
    flex-direction: column;
  }
}
@media only screen and (max-width: 506px) {
  .projects__fist, .projects__second {
    gap: 25px;
  }
}
.projects__second {
  margin-top: 0;
}
@media only screen and (max-width: 1050px) {
  .projects__second {
    flex-direction: column-reverse;
  }
}
.projects__images {
  width: 100%;
  height: auto;
}
.projects__images::before {
  content: "";
  width: 585px;
  height: 470px;
  position: absolute;
}
@media only screen and (max-width: 1050px) {
  .projects__images::before {
    width: 450px;
    height: 370px;
  }
}
@media only screen and (max-width: 680px) {
  .projects__images::before {
    width: 100%;
  }
}
@media only screen and (max-width: 506px) {
  .projects__images::before {
    width: 300px;
    height: 250px;
  }
}
.projects__images .images__item {
  position: relative;
}
@media only screen and (max-width: 1050px) {
  .projects__images .images__item {
    width: 490px;
    height: auto;
  }
}
@media only screen and (max-width: 680px) {
  .projects__images .images__item {
    width: 100%;
  }
}
@media only screen and (max-width: 506px) {
  .projects__images .images__item {
    width: 90%;
  }
}
.projects__images--left::before {
  top: 215px;
  left: 0;
  background-color: #55B7FF;
}
@media only screen and (max-width: 1400px) {
  .projects__images--left::before {
    top: 296px;
  }
}
@media only screen and (max-width: 1050px) {
  .projects__images--left::before {
    top: 160px;
    left: 116px;
  }
}
@media only screen and (max-width: 680px) {
  .projects__images--left::before {
    top: 163px;
    left: 0%;
  }
}
@media only screen and (max-width: 506px) {
  .projects__images--left::before {
    top: 165px;
    left: 23%;
  }
}
.projects__images--right::before {
  top: 870px;
  right: 0;
  background-color: #7E5AFF;
}
@media only screen and (max-width: 1400px) {
  .projects__images--right::before {
    top: 965px;
  }
}
@media only screen and (max-width: 1050px) {
  .projects__images--right::before {
    top: 1121px;
    right: 143px;
  }
}
@media only screen and (max-width: 680px) {
  .projects__images--right::before {
    top: 1128px;
    right: 0%;
  }
}
@media only screen and (max-width: 506px) {
  .projects__images--right::before {
    top: 835px;
  }
}
.projects__content {
  padding-top: 94px;
  padding-bottom: 26px;
}
@media only screen and (max-width: 1200px) {
  .projects__content {
    padding-top: 24px;
  }
}
.projects__subtitle {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
  text-transform: uppercase;
}
@media only screen and (max-width: 506px) {
  .projects__subtitle {
    font-size: 18px;
  }
}
.projects__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-transform: uppercase;
  color: #2C4058;
  margin-bottom: 19px;
}
@media only screen and (max-width: 506px) {
  .projects__title {
    font-size: 26px;
  }
}
.projects__description {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #2C4058;
  margin-bottom: 40px;
}
@media only screen and (max-width: 506px) {
  .projects__description {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
.projects__button {
  cursor: pointer;
  padding: 16px 41px;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: black;
  border: 1px solid #2C4058;
  transition: box-shadow 0.4s linear, border 0.3s ease, color 0.6s ease;
  margin-bottom: 60px;
}
.projects__button:hover {
  box-shadow: 0 2px 25px #7E5AFF;
  border: 1px solid transparent;
  color: #7E5AFF;
}
@media only screen and (max-width: 506px) {
  .projects__button {
    margin-bottom: 30px;
  }
}
.projects__location {
  display: flex;
  gap: 10px;
}
.projects__location .location__text {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

.latest-news {
  padding: 120px 0 130px 0;
  background-image: url(../images/bg__latest.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 506px) {
  .latest-news {
    padding-top: 80px;
  }
}
.latest-news__container {
  margin: 0 auto;
  max-width: 1170px;
}
@media only screen and (max-width: 1400px) {
  .latest-news__container {
    max-width: 1010px;
  }
}
@media only screen and (max-width: 1050px) {
  .latest-news__container {
    max-width: 830px;
  }
}
@media only screen and (max-width: 1050px) {
  .latest-news__container {
    max-width: 520px;
  }
}
@media only screen and (max-width: 1400px) {
  .latest-news__container {
    max-width: 815px;
  }
}
@media only screen and (max-width: 1150px) {
  .latest-news__container {
    max-width: 694px;
  }
}
@media only screen and (max-width: 864px) {
  .latest-news__container {
    max-width: 642px;
  }
}
@media only screen and (max-width: 755px) {
  .latest-news__container {
    max-width: 382px;
  }
}
@media only screen and (max-width: 680px) {
  .latest-news__container {
    max-width: 340px;
  }
}
.latest-news__h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-transform: uppercase;
  color: #2C4058;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 90px;
}
@media only screen and (max-width: 506px) {
  .latest-news__h2 {
    font-size: 26px;
  }
}
.latest-news__h2:before {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media only screen and (max-width: 506px) {
  .latest-news__h2 {
    margin-bottom: 35px;
  }
}
.latest-news__slider {
  display: flex;
  justify-content: space-between;
}
.latest-news__slider .slider__item {
  max-width: 100vw;
}
.latest-news__slider .slider__item + .slider__item {
  margin-left: 30px;
}
.latest-news__slider .slider__img .img__item {
  width: 100%;
}
.latest-news__slider .slider__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 515px;
  max-width: 370px;
  width: 100%;
  background-color: #FFFFFF;
}
@media only screen and (max-width: 1400px) {
  .latest-news__slider .slider__wrapper {
    width: 420px;
  }
}
@media only screen and (max-width: 1200px) {
  .latest-news__slider .slider__wrapper {
    max-width: 328px;
  }
}
@media only screen and (max-width: 1050px) {
  .latest-news__slider .slider__wrapper {
    max-width: 300px;
  }
}
@media only screen and (max-width: 755px) {
  .latest-news__slider .slider__wrapper {
    max-width: 370px;
  }
}
@media only screen and (max-width: 680px) {
  .latest-news__slider .slider__wrapper {
    max-width: 350px;
  }
}
.latest-news__slider .slider__content {
  padding-left: 20px;
  padding-right: 20px;
}
.latest-news__slider .slider__content .content__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.latest-news__slider .slider__content .content__description {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #2C4058;
}
.latest-news__slider .slider__author {
  padding-left: 20px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.latest-news__slider .slider__author .author__img {
  border-radius: 50%;
}
.latest-news__slider .slider__author .author__name {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #2C4058;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.latest-news__slider .slider__author .author__date {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #55B7FF;
}

.slick-next:before {
  content: url(../images/right.png);
  padding: 10px 20px 15px 20px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}
@media only screen and (max-width: 680px) {
  .slick-next:before {
    display: none;
  }
}

.slick-prev:before {
  content: url(../images/left.png);
  padding: 10px 20px 15px 20px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}
@media only screen and (max-width: 680px) {
  .slick-prev:before {
    display: none;
  }
}

.slick-prev {
  left: -85px;
}
@media only screen and (max-width: 810px) {
  .slick-prev {
    left: -61px;
  }
}
@media only screen and (max-width: 680px) {
  .slick-prev {
    display: none;
  }
}

.slick-next {
  right: -40px;
}
@media only screen and (max-width: 810px) {
  .slick-next {
    right: -15px;
  }
}
@media only screen and (max-width: 680px) {
  .slick-next {
    display: none;
  }
}

.slick-dots {
  bottom: -65px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.slick-dots li button {
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  background: transparent;
  width: 10px;
  height: 10px;
}

.slick-dots li button::before,
.slick-dots li.slick-active button::before {
  opacity: 0;
}

.slick-dots li.slick-active button {
  background: #FFFFFF;
}

.gallery {
  padding: 150px 0;
}
@media only screen and (max-width: 680px) {
  .gallery {
    padding: 40px 20px;
  }
}
.gallery__container {
  margin: 0 auto;
  max-width: 1170px;
}
@media only screen and (max-width: 1400px) {
  .gallery__container {
    max-width: 1010px;
  }
}
@media only screen and (max-width: 1050px) {
  .gallery__container {
    max-width: 830px;
  }
}
@media only screen and (max-width: 1050px) {
  .gallery__container {
    max-width: 520px;
  }
}
@media only screen and (max-width: 680px) {
  .gallery__container {
    max-width: 90%;
  }
}
.gallery__h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-transform: uppercase;
  color: #2C4058;
  text-align: center;
}
@media only screen and (max-width: 506px) {
  .gallery__h2 {
    font-size: 26px;
  }
}
.gallery__h2:before {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background-color: #2C4058;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.gallery__grid {
  margin-top: 90px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  gap: 5px;
}
@media only screen and (max-width: 1186px) {
  .gallery__grid {
    grid-template-columns: repeat(2, 285px);
    justify-content: center;
  }
}
@media only screen and (max-width: 680px) {
  .gallery__grid {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 506px) {
  .gallery__grid {
    margin-top: 30px;
  }
}
.gallery__grid .grid__item {
  width: 100%;
  height: auto;
  position: relative;
  transform: scale(1);
  transition: transform 1s linear;
}
.gallery__grid .grid__item::after {
  content: "";
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background: center/cover no-repeat url(../images/bi_zoom-in.png);
  transition: opacity 0.6s ease;
}
.gallery__grid .grid__item:hover::after {
  opacity: 1;
}
.gallery__grid .grid__item:hover {
  transform: scale(1.02);
}
@media only screen and (max-width: 680px) {
  .gallery__grid .grid__item img {
    width: 100%;
    height: auto;
  }
}
.gallery__grid .grid__item--1 {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
}
.gallery__grid .grid::after {
  width: 80px;
  height: 80px;
}
.gallery__button {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.gallery__btn {
  cursor: pointer;
  padding: 16px 41px;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: black;
  border: 1px solid #2C4058;
  transition: box-shadow 0.4s linear, border 0.3s ease, color 0.6s ease;
}
.gallery__btn:hover {
  box-shadow: 0 2px 25px #7E5AFF;
  border: 1px solid transparent;
  color: #7E5AFF;
}

.contact {
  position: relative;
}
.contact__map {
  display: block;
  width: 100%;
  height: 700px;
}
@media only screen and (max-width: 680px) {
  .contact__map {
    height: 500px;
  }
}
.contact__block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 60px 60px 68px;
  background: bottom no-repeat url(../images/contact-bg.png);
  background-color: #FFFFFF;
}
@media only screen and (max-width: 810px) {
  .contact__block {
    top: 45%;
    left: 50%;
    padding: 30px;
  }
}
@media only screen and (max-width: 680px) {
  .contact__block {
    padding: 20px;
    top: 60%;
  }
}
@media only screen and (max-width: 506px) {
  .contact__block {
    top: 45%;
    padding: 10px;
  }
}
.contact__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
  width: 770px;
}
@media only screen and (max-width: 1050px) {
  .contact__wrapper {
    width: 610px;
  }
}
@media only screen and (max-width: 810px) {
  .contact__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 680px) {
  .contact__wrapper {
    width: 450px;
  }
}
@media only screen and (max-width: 506px) {
  .contact__wrapper {
    width: 380px;
  }
}
.contact__h3 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-transform: uppercase;
  color: #2C4058;
}
@media only screen and (max-width: 506px) {
  .contact__h3 {
    font-size: 26px;
  }
}
.contact__h3:before {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background-color: #2C4058;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media only screen and (max-width: 680px) {
  .contact__h3 {
    font-size: 28px;
  }
}
.contact__info {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.contact__info .info__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.contact__info .info__item--mr {
  gap: 10px;
}
.contact__info .info__icon {
  color: #7E5AFF;
}
.contact__form {
  width: 310px;
  display: flex;
  flex-direction: column;
  gap: 33px;
}
@media only screen and (max-width: 810px) {
  .contact__form {
    align-items: center;
  }
}
.contact__form .form__input {
  margin-left: auto;
  max-width: 310px;
  width: 100%;
  border: none;
  outline: none;
  padding: 1px 0 15px;
  width: 100%;
  border-bottom: 1px solid #4B5562;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #000000;
  transition: border-bottom 0.5s ease;
}
@media only screen and (max-width: 810px) {
  .contact__form .form__input {
    margin-left: 0;
    padding: 1px 0 10px;
  }
}
.contact__form .form__input::-moz-placeholder {
  color: rgba(75, 85, 98, 0.5);
}
.contact__form .form__input:-ms-input-placeholder {
  color: rgba(75, 85, 98, 0.5);
}
.contact__form .form__input::placeholder {
  color: rgba(75, 85, 98, 0.5);
}
.contact__form .form__input:focus {
  border-bottom: 2px solid #2C4058;
}
.contact__form .form__input-email:focus:invalid {
  border-bottom: 2px solid red;
}
.contact__form .form__input-email:valid {
  border-bottom: 2px solid green;
}
.contact__form .form__btn {
  margin-left: auto;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: #7E5AFF;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  cursor: pointer;
  padding: 16px 41px;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: black;
  border: 1px solid #2C4058;
  transition: box-shadow 0.4s linear, border 0.3s ease, color 0.6s ease;
}
.contact__form .form__btn:hover {
  box-shadow: 0 2px 25px #7E5AFF;
}
.contact__form .form__btn:focus {
  outline: 0;
}
.contact__form .form__btn:before, .contact__form .form__btn:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.contact__form .form__btn:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #7E5AFF 20%, transparent 20%), radial-gradient(circle, transparent 20%, #7E5AFF 20%, transparent 30%), radial-gradient(circle, #7E5AFF 20%, transparent 20%), radial-gradient(circle, #7E5AFF 20%, transparent 20%), radial-gradient(circle, transparent 10%, #7E5AFF 15%, transparent 20%), radial-gradient(circle, #7E5AFF 20%, transparent 20%), radial-gradient(circle, #7E5AFF 20%, transparent 20%), radial-gradient(circle, #7E5AFF 20%, transparent 20%), radial-gradient(circle, #7E5AFF 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.contact__form .form__btn:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #7E5AFF 20%, transparent 20%), radial-gradient(circle, #7E5AFF 20%, transparent 20%), radial-gradient(circle, transparent 10%, #7E5AFF 15%, transparent 20%), radial-gradient(circle, #7E5AFF 20%, transparent 20%), radial-gradient(circle, #7E5AFF 20%, transparent 20%), radial-gradient(circle, #7E5AFF 20%, transparent 20%), radial-gradient(circle, #7E5AFF 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.contact__form .form__btn:active {
  transform: scale(0.9);
  background-color: #6a41ff;
  box-shadow: 0 2px 25px #7E5AFF;
  color: #FFFFFF;
}
.contact__form .form__btn.animate:before {
  display: block;
  -webkit-animation: topBubbles ease-in-out 0.75s forwards;
          animation: topBubbles ease-in-out 0.75s forwards;
}
.contact__form .form__btn.animate:after {
  display: block;
  -webkit-animation: bottomBubbles ease-in-out 0.75s forwards;
          animation: bottomBubbles ease-in-out 0.75s forwards;
}
.contact__form .form__btn:hover {
  box-shadow: 0 2px 25px #7E5AFF;
  border: 1px solid transparent;
  color: #7E5AFF;
}

.footer {
  padding: 203px 0 234px 0;
  background-image: url(../images/footer-bg.png), linear-gradient(251.06deg, #7E5AFF -2.19%, #55B7FF 103.21%);
  background-repeat: no-repeat;
  background-position: bottom;
}
@media only screen and (max-width: 680px) {
  .footer {
    padding-top: 290px;
  }
}
@media only screen and (max-width: 506px) {
  .footer {
    padding-bottom: 100px;
  }
}
.footer__container {
  margin: 0 auto;
  max-width: 770px;
}
@media only screen and (max-width: 1200px) {
  .footer__container {
    max-width: 730px;
  }
}
@media only screen and (max-width: 810px) {
  .footer__container {
    max-width: 670px;
  }
}
@media only screen and (max-width: 680px) {
  .footer__container {
    max-width: 450px;
  }
}
.footer__box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media only screen and (max-width: 680px) {
  .footer__box {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.footer__content {
  display: flex;
  flex-direction: column;
  gap: 41px;
}
@media only screen and (max-width: 810px) {
  .footer__content {
    gap: 21px;
  }
}
.footer__copyright {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
@media only screen and (max-width: 680px) {
  .footer__copyright {
    margin-left: 17px;
  }
}/*# sourceMappingURL=style.css.map */