.fist-screen{
    background-image: url(../img/bg-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    

    &__container{
        @include container;
        @media screen and(max-width:1224px) {
            max-width: 96%;
    
            }
         
    }
    &__title{
        padding: 100px 0 470px ;
        max-width: 66%;
        font-family: $redHatDisplay;
            font-weight: 600;
            font-size: 48px;
            line-height: 64px;
            letter-spacing: 0.05em;
            color: $black;

            @media screen and(max-width:1224px) {
          max-width: 100%;

            }
            
    }
}