.latestPosts {
    margin-top: 90px;

    @media screen and(max-width:768px) {
        margin-top: 70px;

  
          }

    &__container {
        @include container;

        @media screen and(max-width:1224px) {
            max-width: 95%;

        }
    }

    &__heading {
        @include heading;
        align-items: center;
        @media screen and(max-width:768px) {
          flex-direction: column;
    
            }
    }


    .article {

        &__posts {
          
            margin-top: 50px;
            display:inline-flex;
            flex-direction: row;

            gap: 30px;

            @media screen and(max-width:1224px) {
                flex-direction: column;

            }
            @media screen and(max-width:768px) {
                margin-bottom: 70px;
                }
            .article {
                &__image {
                    .image{
                        &__item{
                            max-width: 100%;
                            min-height: 268px;
                            
                        }
                    }
                }

                &__wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 25px;

                
                    @media screen and(max-width:1224px) {
                        flex-direction: row;
                        justify-content: space-between;

                    }
                    @media screen and(max-width:768px) {
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 50px;
                        }
                    .wrapper {
                        &__img{
                            @media screen and(max-width:1224px) {
                                max-width: 100%;
        
                        
                                }
                            .img{
                                &__item{
                                    max-width: 100%;
                                
                                }
                            }
                       
                        }
                        &__text{
                            @media screen and(max-width:1224px) {
                                max-width: 100%;
        
                        
                                }
                        }
        
                    }
                }
                &__wrapper-reverse{
                    @media screen and (max-width:1224px) {
                     flex-direction: row-reverse;
                    }
                    @media screen and(max-width:768px) {
                        flex-direction: column;
                        align-items: flex-start;

                
                        }
                 }

                &__heading {
                    display: flex;
                    justify-content: space-between;

                    font-family: $lato;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 166%;
                    letter-spacing: 0.1em;
                    color: $grey500;
                    
                }

                &__text {
                    .text {
                        &__title {
                            font-family: $redHatDisplay;
                            font-weight: 500;
                            font-size: 22px;
                            line-height: 166%;
                            letter-spacing: 0.1em;
                            color: $black;
                            margin-top: 25px;
                            margin-bottom: 20px;
                        }

                        &__description {
                            font-family: $lato;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 166%;
                            letter-spacing: 0.05em;
                            color: $grey700;
                        }
                    }

                }
            }
        }
    }

}